.buttonStyling {
    src:  url('../fonts/BebasNeue.otf');
    font-weight: 600;
    font-style: normal;
    font-size:20px;
}
.clickableButton{
    cursor:pointer;
}
.main_title {
    src:  url('../fonts/BebasNeue.otf');
    font-weight: 600;
    font-size:50px;
}